<template>
    <div v-show="isOpen" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
      <div class="bg-white p-8 rounded-lg shadow-md">
        <div v-if="errors">
            <div v-for="(v, k) in errors" :key="k" class="bg-red-400 text-white rounded font-bold mb-4 shadow-lg py-2 px-4 pr-0">
                <p v-for="error in v" :key="error" class="text-sm">
                    {{ error }}
                </p>
            </div>
        </div>
        
        <form class="space-y-6" @submit.prevent="saveCompany">
            <div class="space-y-4 rounded-md shadow-sm">
                <div>
                    <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                    <div class="mt-1">
                        <input type="text" name="name" id="name"
                            class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                            v-model="form.name">
                    </div>
                </div>

                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                    <div class="mt-1">
                        <input type="text" name="email" id="email"
                            class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                            v-model="form.email">
                    </div>
                </div>

                <div>
                    <label for="logo" class="block text-sm font-medium text-gray-700">Logo</label>
                    
                    <div class="mt-1">
                        <input  type="file" ref="fileInput"  name="logo" id="logo"
                            class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                            @change="onFileChange">
                    </div>
                </div>

                <div>
                    <label for="website" class="block text-sm font-medium text-gray-700">Website</label>
                    <div class="mt-1">
                        <input type="text" name="website" id="website"
                            class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                            v-model="form.website">
                    </div>
                </div>
            </div>
            <div class="flex justify-end mt-4">
                <button type="submit" class="px-4 py-2 bg-indigo-600 text-white rounded-md">Create</button>
                <button @click="closeModal" class="ml-4 px-4 py-2 bg-gray-300 text-gray-800 rounded-md">Cancel</button>
            </div>
        </form>
      </div>
    </div>
  </template>
  
  <script setup>
  import {reactive, onMounted, ref, defineProps, getCurrentInstance } from 'vue';
  import useCompanies from "@/composables/companies";
  
  const props = defineProps({
    isOpen: Boolean
  });
  
  const instance = getCurrentInstance();

    const closeModal = () => {
        instance.emit('close');
    };


  const form = reactive({
    'name': '',
    'email': '',
    'logo': '',
    'website': '',
  })

  const { errors, getCompanies, storeCompany } = useCompanies()
  onMounted(getCompanies)
    const saveCompany = async () => {

        const formData = new FormData();
        formData.append('name', form.name);
        formData.append('email', form.email);
        formData.append('website', form.website);
        formData.append('logo', form.logo);

        await storeCompany(formData);

        instance.emit('close');

        await getCompanies();
    }

    const onFileChange = (event) => {
        form.logo = event.target.files[0];
    }
  </script>
  