<template>
    <div v-show="isOpen" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
      <div class="bg-white p-8 rounded-lg shadow-md">
        <div v-if="errors">
          <div v-for="(v, k) in errors" :key="k" class="bg-red-400 text-white rounded font-bold mb-4 shadow-lg py-2 px-4 pr-0">
            <p v-for="error in v" :key="error" class="text-sm">{{ error }}</p>
          </div>
        </div>
        <!-- Employee creation form -->
        <form class="space-y-6" >
          <div class="space-y-4 rounded-md shadow-sm">
            <div>
              <label for="name" class="block text-sm font-medium text-gray-700">First Name</label>
              <div class="mt-1">
                <input type="text" name="firstname" id="firstname"
                  class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                  v-model="form.firstname">
              </div>
            </div>
  
            <div>
              <label for="lastname" class="block text-sm font-medium text-gray-700">Last Name</label>
              <div class="mt-1">
                <input type="text" name="lastname" id="lastname"
                  class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                  v-model="form.lastname">
              </div>
            </div>
  
            <div>
              <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
              <div class="mt-1">
                <input type="text" name="email" id="email"
                  class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                  v-model="form.email">
              </div>
            </div>
  
            <div>
              <label for="phone" class="block text-sm font-medium text-gray-700">Phone</label>
              <div class="mt-1">
                <input type="text" name="phone" id="phone"
                  class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                  v-model="form.phone">
              </div>
            </div>
          </div>
          <div class="flex justify-end mt-4">
            <button type="submit" class="px-4 py-2 bg-indigo-600 text-white rounded-md" @click.prevent="saveEmployee">Save</button>
            <button type="button" @click="closeModal" class="ml-4 px-4 py-2 bg-gray-300 text-gray-800 rounded-md">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </template>
  
  <script setup>
  import { onMounted, reactive, defineProps, getCurrentInstance } from 'vue';
  import useEmployees from "@/composables/employees";
  
  const props = defineProps({
    isOpen: Boolean,
    id: {
      type: String,
      default: '' // Set a default value if needed
    },
    editid: {
      type: String,
      default: '' // Set a default value if needed
    }
  });
  
  const instance = getCurrentInstance();
  
  const { errors, storeEmployee, getEmployee, updateEmployee } = useEmployees();
  
  const form = reactive({
    'firstname': '',
    'lastname': '',
    'email': '',
    'phone': ''
  });
  
  
  const closeModal = () => {
    instance.emit('close');
  };
  
  const saveEmployee = async () => {
    const formData = new FormData();
    formData.append('firstname', form.firstname);
    formData.append('lastname', form.lastname);
    formData.append('email', form.email);
    formData.append('phone', form.phone);
  
    // If id is provided, it's an edit operation, otherwise, it's a create operation
    if (props.editid) {
        formData.append('id', props.editid);
        formData.append('status', 'update');
        await storeEmployee(formData);
    } else {
        formData.append('id', props.id);
        formData.append('status', 'add');
        await storeEmployee(formData);
    }
  
    
    instance.emit('close');
    await getEmployee(props.id);
  };
  </script>
  